aiohttp==3.11.11;python_version>="3.9"
xmltodict==0.14.2
yarl==1.18.3;python_version>="3.9"
# Python 3.10 and below dependencies
tomli==2.2.1;python_version<"3.11"
# Python 3.8 dependencies
importlib-resources==6.4.5;python_version<"3.9"
aiohttp==3.10.11;python_version<"3.9"
yarl==1.15.2;python_version<"3.9"
